<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Person</title>
</head>
<body>
        <h1>Create Person</h1>
        <form action="/people/create" method="post">
            <label>Name:</label>
            <input type="text" name="Name"/><br>
            <label>Age:</label>
            <input type="text" name="Age"/><br>
            <label>Gender:</label>
            <input type="text" name="Gender"/><br>
            <label>Mobile:</label>
            <input type="text" name="Mobile"/><br>
            <button type="submit">Create</button>
            <a style="text-decoration: none;" href="/people">Cancle</a>
        </form>
</body>
</html>