<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Already Exists</title>
</head>
<body>
    <h1>Person Already Exists</h1>
    <a href="/people/create"><button>Okay</button></a>
</body>
</html>